<!doctype html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello, Periodically!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='periodic.css') }}">
</head>
<body>
    <div class="container">
        <div class="row text-center">
            <div id="jumbotron-banner" class="col-md-12 jumbotron" >
                <table class="text-center title-table">
                    <td>
                    <div class="panel panel-default title-element-panel">
                        <div class="element-name title-element">Phosphorus</div>
                        <div class="element-atomic-no title-element">15</div>
                        <div class="element-symbol title-element">P</div>
                        <div class="element-atomic-wt title-element">30.9738</div>
                    </div>
                    </td>
                    <td>
                    <div class="panel panel-default title-element-panel">
                        <div class="element-name title-element">Erbium</div>
                        <div class="element-atomic-no title-element">68</div>
                        <div class="element-symbol title-element">Er</div>
                        <div class="element-atomic-wt title-element">167.259</div>
                    </div>
                    </td>
                    <td>
                    <div class="panel panel-default title-element-panel">
                        <div class="element-name title-element">Iodine</div>
                        <div class="element-atomic-no title-element">53</div>
                        <div class="element-symbol title-element">I</div>
                        <div class="element-atomic-wt title-element">126.9045</div>
                    </div>
                    </td>
                    <td>
                    <div class="panel panel-default title-element-panel">
                        <div class="element-name title-element">Oxygen</div>
                        <div class="element-atomic-no title-element">8</div>
                        <div class="element-symbol title-element">O</div>
                        <div class="element-atomic-wt title-element">15.9994</div>
                    </div>
                    </td>
                    <td><span class="non-element-letter">d</span></td>
                    <td>
                    <div class="panel panel-default title-element-panel">
                        <div class="element-name title-element">Iodine</div>
                        <div class="element-atomic-no title-element">53</div>
                        <div class="element-symbol title-element">I</div>
                        <div class="element-atomic-wt title-element">126.9045</div>
                    </div>
                    </td>
                    <td>
                    <div class="panel panel-default title-element-panel">
                        <div class="element-name title-element">Carbon</div>
                        <div class="element-atomic-no title-element">6</div>
                        <div class="element-symbol title-element">C</div>
                        <div class="element-atomic-wt title-element">12.0107</div>
                    </div>
                    </td>
                    <td>
                    <div class="panel panel-default title-element-panel">
                        <div class="element-name title-element">Aluminum</div>
                        <div class="element-atomic-no title-element">13</div>
                        <div class="element-symbol title-element">Al</div>
                        <div class="element-atomic-wt title-element">26.9815</div>
                    </div>
                    </td>
                    <td><span class="non-element-letter">ly</span></td>
                </table>
                <form action="/" method="POST">
                    <input name="word_entry" id="word-entry"
                        class="form-control input-lg"
                        placeholder="Enter a word"
                        autofocus="autofocus"
                    />
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>