<!doctype html>
<head>
    <title>Hello, Periodically!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 jumbotron" style="background-color:lime;">
                <table>
                    <td>
                    <div style="margin:5px;text-align:center;border-style:solid;padding:2px;width:75px;background-color:white;">
                        <div style="font-size:.6em">Phosphorus</div>
                        <div style="font-size:1.25em">15</div>
                        <div style="font-size:2em;font-weight:bold;">P</div>
                        <div style="font-size:1em">30.9738</div>
                    </div>
                    </td>
                    <td>
                    <div style="margin:5px;text-align:center;border-style:solid;padding:2px;width:75px;background-color:white;">
                        <div style="font-size:.6em">Erbium</div>
                        <div style="font-size:1.25em">68</div>
                        <div style="font-size:2em;font-weight:bold;">Er</div>
                        <div style="font-size:1em">167.259</div>
                    </div>
                    </td>
                    <td>
                    <div style="margin:5px;text-align:center;border-style:solid;padding:2px;width:75px;background-color:white;">
                        <div style="font-size:.6em">Iodine</div>
                        <div style="font-size:1.25em">53</div>
                        <div style="font-size:2em;font-weight:bold;">I</div>
                        <div style="font-size:1em">126.9045</div>
                    </div>
                    </td>
                    <td>
                    <div style="margin:5px;text-align:center;border-style:solid;padding:2px;width:75px;background-color:white;">
                        <div style="font-size:.6em">Oxygen</div>
                        <div style="font-size:1.25em">8</div>
                        <div style="font-size:2em;font-weight:bold;">O</div>
                        <div style="font-size:1em">15.9994</div>
                    </div>
                    </td>
                    <td><span style="font-size:4em;font-family:cursive;">d</span></td>
                    <td>
                    <div style="margin:5px;text-align:center;border-style:solid;padding:2px;width:75px;background-color:white;">
                        <div style="font-size:.6em">Carbon</div>
                        <div style="font-size:1.25em">6</div>
                        <div style="font-size:2em;font-weight:bold;">C</div>
                        <div style="font-size:1em">12.0107</div>
                    </div>
                    </td>
                    <td>
                    <div style="margin:5px;text-align:center;border-style:solid;padding:2px;width:75px;background-color:white;">
                        <div style="font-size:.6em">Aluminum</div>
                        <div style="font-size:1.25em">13</div>
                        <div style="font-size:2em;font-weight:bold;">Al</div>
                        <div style="font-size:1em">26.9815</div>
                    </div>
                    </td>
                    <td><span style="font-size:4em;font-family:cursive;">ly</span></td>
                </table>
                <form action="/add" method="POST">
                    <input name="word_entry" id="word-entry"
                        class="form-control input-lg"
                        placeholder="Enter a word" 
                    />
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>