<!doctype html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello, Periodically!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="styles/periodic.css") }}">
</head>
<body>
    <div id="main" class="container">
        <div class="row">
            <div id="jumbotron-banner" class="col-md-12 jumbotron" >
                <img src="{{ url_for('static', filename='images/banner.PNG') }}" class="img-responsive">
                    <div class="input-group">
                        <input data-bind="textInput: word"
                            class="form-control input-lg"
                            placeholder="Enter a word"
                            autofocus="autofocus"
                        />
                        <span class="input-group-btn">
                            <button data-bind="click: get_periodics" class="btn btn-primary btn-lg">
                                Get Periodics</button>
                        </span>
                    </div>
            </div>
        </div>
        <div class="row">

            <div data-bind="component: {
                            name: responseComp,
                            params: {resp: resp}
            }">

            <!-- <div class="col-md-12 table-responsive">
                <table data-bind="foreach: periodics" class="text-center title-table">
                    <tr data-bind="foreach: $data">
                        <td>
                            <div class="panel panel-default result-element-panel">
                                <div data-bind="text: name" class="element-name"></div>
                                <div data-bind="text: atomic_no" class="element-atomic-no"></div>
                                <div data-bind="text: symbol" class="element-symbol"></div>
                                <div data-bind="text: atomic_wt" class="element-atomic-wt"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
 -->
            </div>

        </div>
    </div>

    <script src="{{ url_for("static", filename="js/periodics.js") }}"></script>
</body>
</html>