{% extends "base.html" %}
{% block body %}
    {% for word in words %}
    <table class="text-center title-table">
        <tr>
            {% for w in word %}
            <td>
                <div class="panel panel-default result-element-panel">
                    <div class="element-name">{{ w.name }}</div>
                    <div class="element-atomic-no">{{ w.atomic_no }}</div>
                    <div class="element-symbol">{{ w.symbol }}</div>
                    <div class="element-atomic-wt">{{ w.atomic_wt }}</div>
                </div>
            </td>
            {% endfor %}
        </tr>
    </table>
    {% endfor %}
{% endblock %}