<div class="col-md-12">
    <h2>No Love? Oh, well.  Here are some suggestions that work. ;)</h2>
    <ul data-bind="foreach: words" class="list-group">
        <li class="list-group-item">
            <a data-bind="text: $data,
                    attr: {
                        href: '#' + $data,
                        'aria-controls': $data
                    }"
                data-toggle="collapse" aria-expanded="true"></a>
            <div class="collapse" data-bind="attr: { id: $data }">
                <div class="well">
                ...
                </div>
            </div>
        </li>
    </ul>
</div>
