<div class="col-md-12">
    <h2>No Love? Oh, well.  Here are some suggestions that work. ;)</h2>
    <div data-bind="foreach: words" class="list-group">
        <div class="container list-group-item" >
            <a href="#" data-bind="text: word, click: toggleVisible"></a>
            <div data-bind="visible: isVisible">
                <div class="panel">
                    <div data-bind="component: {
                            name: responseComp,
                            params: { resp: resp }
                        }">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
