<div class="col-md-12 table-responsive">
    <table data-bind="foreach: periodics" class="text-center title-table">
        <tr data-bind="foreach: $data">
            <td>
                <div class="panel panel-default result-element-panel">
                    <div data-bind="text: name" class="element-name"></div>
                    <div data-bind="text: atomic_no" class="element-atomic-no"></div>
                    <div data-bind="text: symbol" class="element-symbol"></div>
                    <div data-bind="text: atomic_wt" class="element-atomic-wt"></div>
                </div>
            </td>
        </tr>
    </table>
</div>
